
body {
	color: #000000;
	background-color: #ffffff;
	background-image: linear-gradient(#f2f2fa, #ffffff);
	background-repeat: no-repeat;
	height: auto;
	margin: 0;
}

#container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 960px;
}

#text {
	text-align:	center;
	font-family: helvetica;
	margin-left: 30px;
	margin-right: 30px;
}

h1 {
	color: #e78967;
}

h3 {
	color: #4a4a4c;
}
			
h5 {
	color: #717175;
}